
* {
    padding: 0;
    margin: 0;
}
html {
    background-image: url('../../images/bg.png');
}

body {
    font-family: 'calibri';
    font-size: 14px;
    background-image: url('../../images/bg.png');
    border: 1px solid #cccccc;
    margin: 0 auto;
    padding: 20px 20px;
    width: 70%;
    height: 100%;
    color: white;
}
.background{
	background-image: url('../../images/bg.png');
	width: 100%;
}
div.listaKsiazek > table {
  width: 100%;
  border: 1px solid #000;
  border-collapse: collapse;
   background-color: #444;

}

div.listaKsiazek > table > tbody > tr > td, div.listaKsiazek > table > thead > tr > th {
  padding: 5px 5px;
  border-left: 1px solid #000000;
  vertical-align: middle;
  line-height: 15px;
    text-align: center;
}

div.listaKsiazek > table > tbody > tr, div.listaKsiazek > table > thead > tr {
  border-bottom: 1px solid #000000;
}

div.listaKsiazek > table th {
  background-color: black;
}

div.listaKsiazek > table > tbody > tr > td > table {
  width: 100%;
  border-collapse: separate;
}

div.listaKsiazek > table > tbody > tr > td > table > tbody > tr> td {
  background-color: black;
  padding: 0px 5px;
}

div.listaKsiazek > table > tbody > tr > td > table > tbody > tr> td:last-child {
  text-align: right;
}


body>logo>a>img, body>logo a{
    margin: 0 auto;
    text-align: center;
    display: block;
    padding-bottom: 30px;
}
nav{
background-color: black;
height: 50px;
}
nav ul{
width: 1000px;
margin: 0 auto;
}
nav ul li {
list-style-type: none;
width: 250px;
float: left;
text-align: center;
}



ul {
    list-style-type: none;
    overflow: hidden;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
}


li a {
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
}

li a:hover {
    background-color: green;
}


body>header>a>img{
display: inline-block;
vertical-align: middle;
padding: 0px 5px;
font-size: 24px;
}

body>header a {
display: inline-block;
vertical-align: middle;
padding: 0px 5px;
font-size: 24px;
}

#headerButtons a:hover {
	background: #fcce00;
}

body>footer {
background-color: black;
padding: 5px;
margin: 10px 0;
text-align: center;
}


ul#messages li {
display: block;
width: 80%;
margin: 5px auto;
text-align: center;
padding: 5px;
border-radius: 5px;
}

ul#messages li.info {
background: #7f7;
}

ul#messages li.error {
background: #d00;
color: white;
}


h2 {
  margin-top: 50px;
  margin-bottom: 30px;
}

form fieldset {
  padding-top: 20px;
}

form div {
  float: left;
  clear: left;
  width: 100%;
  padding-bottom: 1em;
}

form div > label {
  width: 250px;
  display: block;
  float: left;
  text-align: right;
  margin-right: 20px;
  line-height: 20px;
  padding: 0;
  font-weight: bold;
}

form div > input, form div > select {
  height: 20px;
  margin: 0px;
  padding: 0px;
}

form div > ul {
  list-style: none;
  padding: 0;
  vertical-align: top;
}

form div > ul li {
  padding: 0;
  margin-left: 270px;
}

form div > table {
  padding: 0;
}

form div > table td, form div > table th {
  margin: 0;
  padding: 1px 10px;
}

form div > table th {
  font-weight: normal;
  background-color: #ddff77;
  color: #000000;
}


form div.submit {
  margin-top: 40px;
  background-color: #99cc33;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
  border: 1px solid #000000;
}

form div.submit button {
  font-weight: bold;
  font-variant: small-caps;
}


.fieldError {
    border: 1px solid red;
}

ul.errorlist {
    border: 1px dotted #333;
    margin: 10px 10px 50px 10px;
    padding: 10px;
}

ul.errorlist li {
    list-style: none;
    background-color: #f2d768;
    padding: 5px;
    margin: 3px 0px;
}
input[type=submit].link {
	border: none;
	background: none;
	display: inline;
	color: blue;
	text-decoration: underline;
}