<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="th/layout ::site-head">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Title</title>
</head>

<body>

<logo th:replace="th/layout :: site-logo" />

  <header th:replace="th/layout :: site-header" />
  <font size="48"><p align="center">STRONA GŁÓWNA</p></font>
  <p>&nbsp;&nbsp; W księgarni Jana zaopatrzysz sie w najlepsze pozycje czytane i poszerzysz swoje horyzonty. Posiadamy książki nowe, używane oraz dublety. Jeżeli będzię Ci mało książek to możesz dodać własne! Lorem ipsum dolor sit amet, cu explicari persecuti mei, te suas doming noster sit. Ut delicata efficiantur vituperatoribus has. Eos eu sale blandit salutatus, vim quot essent cu. Nam in torquatos dissentias, et usu mundi voluptaria expetendis, ignota fabellas volutpat ut usu. Duo et oblique perfecto.

    Vim no harum vivendum corrumpit, sea ad partem libris possit. Cum errem possit eu, erant vivendo propriae mei in. Ea usu viris platonem, qui eros fierent te. Est ex tale posse ullamcorper, ei vis labore saperet deserunt.

    Cu mei lucilius argumentum, nullam efficiendi sit ei, quot idque aperiri duo ex. Dicit repudiandae nam ei. Vim illud ignota at, ad has possim definitiones. Labitur appetere vituperata mei ne, ne eam probo homero albucius.

    Nulla possim oblique an cum, et legere nemore eum, an mel ferri pertinacia. Mea ex nonumy legimus similique, at munere feugiat torquatos qui. Eu sea albucius deleniti, ius ut appareat oportere, an his dicunt civibus. Amet putent sed id. His cu odio patrioque, quo rationibus intellegam id.

    Zril accumsan tractatos vim ei, affert insolens id vis. Et omnium concludaturque per. Duo mollis omittam no, ea denique noluisse expetenda eos. Sanctus perfecto liberavisse no est, ullum tation et qui. Vel oratio perfecto an.

    Ius eros ferri an, lorem legere option mei in, ex pro rebum brute repudiare. Est ei falli noster aperiam. Tota veritus nostrum te sed, cu possim forensibus vix. Mel et tale simul intellegam, enim putent elaboraret ea sed, no veniam quodsi usu. Ut sanctus evertitur mea, et sea malis vulputate, eu mea odio maiorum complectitur.

    Sea nihil dicam luptatum ex, sea ad habeo persequeris. Autem aliquam vel an, mel id vide menandri. His ut quem consequat sententiae, per ea iudico consectetuer, tamquam probatus aliquando ne qui. Et quo rebum erant eirmod, id paulo impetus mel. Eos soleat doming ad.

    No vix latine appetere constituam, erat corpora interpretaris duo ei. Vix cu agam commune gloriatur. Mei audire tincidunt ex, nonumy putant scaevola ex pri. Sed nulla iudico ex, pro et nibh aliquip elaboraret. Eum no congue cotidieque. Eu noluisse delectus ius.</p>
  <footer th:replace="th/layout :: site-footer" />

</body>

</html>
