<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="th/layout :: site-head">
  <link rel="stylesheet" media="screen" th:href="@{/css/klaser.css}"/>
  <title>Klaser książek</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <link rel="stylesheet" type="text/css" media="all" href="../../css/klaser.css" th:href="@{/css/klaser.css}" />
</head>

<body>
<logo th:replace="th/layout :: site-logo" />
<header th:replace="th/layout :: site-header" />
<div>
  <h2 th:text="#{title.list}" style="display: inline;">Lista Książek</h2>
</div>

<div class="listaKsiazek" th:unless="${#lists.isEmpty(booksAll)}">
  <table>
    <thead>
    <tr>
      <th th:text="#{klaser.numerKatalogowy}">numerKatalogowy</th>
      <th th:text="#{klaser.tytul}">tytul</th>
      <th th:text="#{klaser.opis}">opis</th>
      <th th:text="#{klaser.cena}">cena</th>
      <th th:text="#{klaser.autor}">autor</th>
      <th th:text="#{klaser.gatunek}">gatunek</th>
      <th th:text="#{klaser.dataWydania}">dataWydania</th>
      <th th:text="#{klaser.status}">status</th>
      <th th:text="#{klaser.operacje}">operacje</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="book : ${booksAll}">
      <form action="#" th:action="@{/ksiazki}" th:object="${book}" method="post">
        <td th:text="${book.numerKatalogowy}">1</td>
        <td th:text="${book.tytul}">Maciek</td>
        <td th:text="${book.opis}">Długi opis</td>
        <td th:text="${book.cena}">369.9</td>
        <td th:text="${{book.autor}}">Maciek z Klanu</td>
        <td th:text="${{book.gatunek}}">Czytelny</td>
        <td th:text="${{book.dataWydania}}">2011/13/01</td>
        <td th:text="#{${'klaser.status.' + book.status}}">Nowa</td>
        <td>
          <button type="submit" name="remove" th:value="${book.numerKatalogowy}"
                  th:text="#{klaser.remove}">Dell</button>

          <a href="moneta.html" th:href="@{|/ksiazki/${book.numerKatalogowy}|}" >
            <button type="button" th:text="#{klaser.edit}">Editt</button></a>
        </td>
      </form>
    </tr>
    </tbody>
  </table>
</div>
<footer th:replace="th/layout :: site-footer" />
</body>
</html>